<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- ************************************************** -->
    <component id="NServiceBusSLAViolationCounterCheckConfig"
            lifestyle="singleton"
            type="Wolfpack.Contrib.Checks.NServiceBusPerformanceCounters.NServiceBusSLAViolationCounterCheckConfig, Wolfpack.Contrib.Checks.NServiceBusPerformanceCounters">
      <parameters>
        <FriendlyId>NSB-SLA-Monitor</FriendlyId>
        <Enabled>false</Enabled>
        <StreamData>true</StreamData>
        <!--
        The SLA Violation Counter acts as a early warning system that tells you the number of seconds left until the SLA for the particular endpoint is breached.
        The Threshold is the number of seconds until your SLA is breached.
        -->
        <Threshold>10000</Threshold>
        <!-- leave blank for local or set to remote machine name -->
        <MachineName></MachineName>
		    <!-- Endpoint name, as seen in MSMQ -->
        <InstanceName>TODO: Set Queue Name</InstanceName>
      </parameters>
    </component>
    <!-- ************************************************** -->
 </components>
</configuration>