<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- ************************************************** -->
    <component id="NSBCriticalTimeCounterCheckConfig"
               lifestyle="singleton"
               type="Wolfpack.Contrib.Checks.NServiceBusPerformanceCounters.NServiceBusCriticalTimeCounterCheckConfig, Wolfpack.Contrib.Checks.NServiceBusPerformanceCounters">
      <parameters>
        <FriendlyId>NSB-CriticalTime-Monitor</FriendlyId>
        <Enabled>false</Enabled>
        <StreamData>true</StreamData>
        <!-- 
        The Critical Time counter monitors the age of the oldest message in the queue. 
        This takes into account the whole chain from the message being sent on the client machine until successfully processed by the server. 
        You should define a SLA for each of your endpoints and use the CriticalTime counter to make sure that you're adhering to it. 
        The Threshold is the maximum "age" of a message in the queue that is ok.
        -->
        <Threshold></Threshold>
        <!-- leave blank for local or set to remote machine name -->
        <MachineName></MachineName>
		    <!-- Endpoint name, as seen in MSMQ -->
        <InstanceName>TODO: Set Queue Name</InstanceName>
      </parameters>
    </component>
    <!-- ************************************************** -->
  </components>
</configuration>
